.searchListContainer{
    border: 1px black solid;
    -webkit-flex: auto;
    overflow-y: scroll;
}
.searchList{
    padding: 0;
    align-content: center;
}
.searchItem{
    border: 1px solid black;
}
.searchName{

}
.searchAddress{

}