.homeContainer{
    background-color: #e1f3f7;
    align-content: center;
    width: 1246px;
    height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 750px;
}
.listComponent{
grid-column:1;
}
.showComponent{
grid-column: 2;
}